form{
    border: 500px;
    border-radius: 100%;
}
label{
    font-size: 1.1cap;
    
}
input{
    
    background-color: #f4f4f4;
    border-radius: 15%;
}
button{
    color: #f4f4f4;
    background-color: #007bff;
}
textarea{
    
    background-color: #f4f4f4;
    border-radius: 15%;
}
